{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block header %} <h1>Connexion</h1>{% endblock %}

{% block body %}
    <form action="{{ path('Security.login') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Adresse email..." required name="_username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Mot de passe..." required name="_password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Se connecter !</button>
            <a href="{{ path('Security.registration', {typeCompte: 'client'}) }}" class="btn btn-outline-success">Pas de compte, créez en un !</a>
            <a href="{{ path('Security.registration', {typeCompte: 'admin'}) }}" class="btn btn-outline-danger">Créer un admin !</a>
        </div>
    </form>
{% endblock %}



