{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">test</div>
    <button class="continue">test</button>
{% endblock %}
{% block javascripts %}
    <script>$("button.continue" ).html( "Next Step..." )</script>
{% endblock %}
