{#Utilisé dans produit/viewDetails#}
<div class="card" style="margin-bottom: 10em;">
    {{ form_start(form, {'action': path('Comment.add', {id: produit.id}) }) }}
    <div class="card-header"><h6>Ajouter un commentaire:</h6></div>
    <div class="card-body">
        {{ form_row(form.content) }}
        <button type="submit" class="btn btn-info float-right mb-2">Valider</button>
        {{ form_end(form) }}
    </div>
</div>

