{% extends 'base.html.twig' %}

{% block title %}Liste commandes {% endblock %}

{% block header %}<h1>Voici les commandes</h1>{% endblock %}

{% block body %}
    
    <div class="row text-center">
        <div class="alert alert-success col">
            <strong>Commande validée</strong>
        </div>
        <div class="alert alert-warning col">
            <strong>Commande en attente </strong>
        </div>
        <div class="alert alert-danger col">
            <strong>Commande annulée </strong>
        </div>
    </div>
    {% for command in commands if commands is not empty%}
        <div class="alert
            {% if command.etat == 'Attente' %}
                alert-warning
            {% elseif command.etat == 'Validee' %}
                alert-success
            {% elseif command.etat == 'Annulee' %}
                alert-success
            {% endif %}
        ">
            <strong>Commande : {{ command.id }}</strong>
            <p class="float-right text-secondary">{{ command.dateCommande|date('m-d-Y') }}</p>
        </div>
        {% include 'command/command_option.html.twig' %}
    {% else %}
        <p class="text-secondary text-center">Pas encore de commandes</p>
    {% endfor %}
{% endblock %}
